<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="../style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% include "header.html" %}
        <div class="table-of-contents">
            <ul>
                {% for heading in table_of_contents %}
                <li class="toc-level-{{ heading.level }}">
                    <a href="#{{ heading.id }}">{{ heading.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {{ content | safe }}

        <div class="post-navigation">
            {% if previous_post %}
                <a href="{{ previous_post.source_path }}" class="prev-post">&larr; Previous: {{ previous_post.title }}</a>
            {% endif %}

            {% if next_post %}
                <a href="{{ next_post.source_path}}" class="next-post">Next: {{ next_post.title }} &rarr;</a>
            {% endif %}
        </div>

    </div>
</body>
</html>
