:root {
    --background-color: #000000;
    --text-color: #FFFFFF;
    --link-color: #FFFFFF;
    --accent-color: green;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    background-color: var(--background-color);  /* Dark background */
    color: var(--text-color);
}


header {
    /*display: flex;             !* Flexbox layout *!*/
    align-items: center;       /* Vertically center content */
    padding: 20px 0;        /* Padding for some space inside the header */
}

header a {
    color: var(--text-color);
    font-weight: 100;
}

.header-left .brand {
    font-size: 40px;           /* Adjust the font size for emphasis */
    text-decoration: none;     /* Remove underline from the link */
}

.header-right nav a {
    font-size: 18px;           /* Slightly smaller font size */
    text-decoration: none;     /* Remove underline from links */
}


a {
    color: var(--text-color);
    text-decoration: underline;
}



.toc-level-2 {
    list-style-type: none; /* No bullet point for H2 items */
}

.toc-level-3 {
    margin-left: 20px;  /* Adjust this value as needed */
    list-style-type: circle; /* Hollow circle for H3 items */

}

.post-navigation {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.prev-post, .next-post {
    font-weight: bold;
    text-decoration: none;
    color: #007BFF;
}

.prev-post:hover, .next-post:hover {
    text-decoration: underline;
}


.table-of-contents {
    border: 2px solid #333; /* 2px thick solid border with a dark color */
    padding: 10px; /* Add padding inside the border */
    border-radius: 5px; /* Optional: make the corners slightly rounded */
}


.container {
    max-width: 800px;  /* Maximum width of the container */
    margin: 0 auto;     /* Center the container horizontally */
    padding: 0 20px;    /* Add some padding for small screens */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    padding-bottom: 10px;          /* Add some space between text and the divider */
    margin-bottom: 20px;           /* Add space below the header */
}


h1 {
    border-bottom: 1px solid #FFFFFF; /* Adjust the color to your preference */
}